<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% trans %}EasySurvey{% endtrans %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
         
        {% stylesheets '@AppBundle/Resources/public/css/bootstrap.min.css'                      
                       '@AppBundle/Resources/public/css/datatables.css'
                       '@AppBundle/Resources/public/css/bootstrap-grid.min.css'
                       '@AppBundle/Resources/public/css/bootstrap-reboot.min.css'
                       '@AppBundle/Resources/public/css/app.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

   
            <script>
                jQuery(document).ready(function() {
                    $('.js-datepicker').datepicker();
                });
            </script>
            
            
            
        {% endstylesheets %}
        
    </head>
    <body>
      
            {% include 'menu.html.twig' %}
            
            <!-- Begin page content -->
            <main role="main" class="container">
             {% include 'header.html.twig' %}
           
            
                {% block content %}{% endblock %}    
            </main>


            {% include 'footer.html.twig' %}
     
        {% javascripts '@AppBundle/Resources/public/js/jquery-3.2.1.slim.min.js'
                                 '@AppBundle/Resources/public/js/popper.min.js'
                                 '@AppBundle/Resources/public/js/bootstrap.min.js'
                                 '@AppBundle/Resources/public/js/datatables.min.js'          
                                 '@AppBundle/Resources/public/js/app.js'            
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %} 

    </body>
</html>