{% extends "layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h2>{% trans %}Preguntas{% endtrans %}</h2>
      </div>  
      <div class="page-content">  
        {{ form(form) }}
      </div>
      <!--<div class="error">{#{error}#}</div>-->
{% endblock %}