/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-jul-2018, 8:39:11
    Author     : ahvega
*/

body {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    font-size: 10px;
}

.page-footer {
    text-align: right;
}

select {
    width: 1000%
}

#form_finishdate {
    width: 100px;
}

div[id*="form_"] > label {
    /* Enunciados de respuestas */
    /* background: red; */
    display: inline !important;
}

div > label[class*="required"]:first-child {
    /* Enunciados de preguntas */
    font-size: 100%;
    margin-top: 1em;
}

div > label[class*="required"] {
    /* Enunciados de preguntas */
    display: block;
} 

div > input[type*="radio"] {
    display: block;
    margin-top: 0.5em;
}

div > label[for*="form_description"] {
    font-size: 100%;
    display: block;
}

button, input, optgroup, select, textarea, label {
    margin-top: 10px !important ; 
}

.error {
    color: red;
    font-weight: bold;
}

label .hide{
    display: none;
}

#header {
    margin-left:115px;
}

