{% extends "layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Categoria{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
        {{ form(form) }}
      </div>
      <!--<div class="error">{#{error}#}</div>-->
{% endblock %}